*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #fff; */
}
html,body{
    height: 100%;
    width: 100%;
   
}
.main{
    width: 100%;
    
    /* border: 2px solid green; */
    background-color: rgb(255, 251, 239);
}
#home{
    height: 100vh;
    width: 100%;
    /* border: 2px solid red; */
    background: linear-gradient(90deg, rgb(9, 35, 18),rgb(7, 55, 14),rgb(2, 99, 2), rgb(0, 113, 43));
}
nav{
    height: 8vh;
    /* border: 2px solid blue; */
    width: 90%;
    margin:0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 2vw;
}
nav img{
    height:7vh ;
    width: 10%;
}
.right a{
    padding: 0 1vw;
    text-decoration: none;
    font-size: 1.3vw;
    position: relative;
    color: #fff;
    
}
.right a::after{
    content: '';
    width: 0;
    height: 3px;
    background:rgb(216, 13, 13);
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
}
.right a:hover::after{
    width: 90%;
}
.right  button{
    
    height: 5.5vh;
    width: 7.5vw;
    margin-right: 10px;
    border: none;
    border-radius: 3px ;
    background-color: rgb(233, 90, 39);
    color: #fff;
    font-size: 1.2vw;
    font-weight: 400;
    cursor: pointer;
    
}
.right  button i{
    margin-left: 10px;
}
.home-hero{
    height: 87vh;
    width: 93%;
    margin: 0 auto;
    padding: 0 vw;
    /* border: 2px solid yellow; */
    /* background: #6be3d9; */
    display: flex;
    flex-direction: row;
}
.hero-text{
    /* border: 2px solid black; */
    height: 45%;
    width: 49%;
    margin-top:8vw;
    padding: 1vw 0;
    padding-left: 11vw;
    color: #fff;
}
.hero-text p{
    margin: 0.7vw 0;
    font-size: 1.5vw;

}
.hero-text h1{
    font-size: 3.8vw;
    line-height: 1.2;
    word-spacing: 1.3px;
}
.hero-text h1 span{
    color: rgb(228, 128, 52);
    
}
.hero-text button{
    height: 5.5vh;
    width: 8vw;
    margin-top: 20px;
    border: none;
    border-radius: 3px ;
    background-color: rgb(233, 90, 39);
    color: #fff;
    font-size: 1.1vw;
    font-weight: 400;
    cursor: pointer;
    padding: 0.5vw 1vw;
}
.hero-image{
    height: 95%;
    width: 75%;
    /* border: 2px solid red; */
    margin-top:1vw;

}
.features{
    height: 100vh;
    width: 100%;
    /* border: 2px solid magenta; */
}
.feature-text{
    height: 22vh;
    width: 80%;
    /* border: 2px solid maroon; */
    margin: 2vw auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.7;
}
.feature-text h1{
    font-size: 3vw;
    font-weight: 500;
}
.feature-text p{
    font-size: 1.5vw;
}
.feature-style{
    height: 75vh;
    width: 90%;
    /* border: 2px solid blue; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding:5vw 5vw ;
}
.box{
    height: 37vh;
    width: 55vh;
    /* border: 2px solid green; */
    background: #F1F1F1;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    &:hover{
        background: #4285F4;
        color: #fff;
        transform: translatey(-10px);
    }
}
.icon{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    /* border: 2px solid black; */
    margin: 0 auto;
    margin-top: -30px;
    background:#4285F4 ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box:hover .icon{
    background: #fff;
    
}
.box:hover .icon i{
    color: #4285F4;
}
.icon i{
    font-size: 2.3vw;
    color: #fff;
    
}
.box h3{
    font-size: 1.5vw;
    margin: 0.7vw 0;
    text-align: center;
}
.box p{
    font-size: 1.2vw;
    line-height: 1.3;
    padding: 0 1vw;
}